span {
  position: fixed;
  font-size: large;
  font-weight: bold;
}

#tile {
  vertical-align: top;
  margin-left: 18px;
}

#tileTooltip {
  margin-left: -20px;
}

#tileTooltip2 {
  margin-top: -20px;
}
